* {
	margin: 0;
	padding: 0;
}
body {
	overflow: hidden;
}

#pong {
	background-color: #111;
}

h1 {
	color: #fff;
	font-family: sans-serif;
	font-size: 4rem;
	position: absolute;
	top: 60px;
}

#PlayerScore {
	left: 35%;
}

#AIScore {
	right: 35%;
}
